main{
    width: 20em;
    height: 8em;
    text-align: center;
    background-color: brown;
    border: 1em black;
}
body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form > *{
    margin: 0.5em;
}
span{
    background-color: antiquewhite;
    color: crimson;
    padding: .2em;
}